@import "tailwindcss";
/* Untuk Chrome, Edge, dan Safari */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  
  /* Untuk Firefox */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE dan Edge */
  }
  